In [12]:
import pandas as pd
import numpy as np
#import sklearn.preprocessing.LabelBinarizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import OrdinalEncoder
import itertools
import plotly.express as px

In [13]:
encoded_df = pd.read_csv('../data/processed/04__encoded.csv',index_col = 0, header = [0,1])

In [14]:
encoded_df.head()

  LanguageHaveWorkedWith                                                    \
                     APL Assembly Bash/Shell    C    C#  C++ COBOL Clojure
0                    0.0      0.0       19.5  0.0   0.0  0.0   0.0     0.0
1                    0.0      0.0        0.0  0.0   0.0  0.0   0.0     0.0
2                    0.0      0.0        0.0  0.0   0.0  9.0   0.0     0.0
3                    0.0      0.0        0.0  0.0  31.5  0.0   0.0     0.0
4                    0.0      0.0       10.0  0.0   0.0  5.0   0.0     5.0

                ...        DevType                             \
  Crystal Dart  ... Engineer, data Engineer, site reliability
0     0.0  0.0  ...              1                          0
1     0.0  0.0  ...              0                          0
2     0.0  0.0  ...              0                          0
3     0.0  0.0  ...              0                          0
4     0.0  0.0  ...              0                          0

                                                                               \
  Engineering manager Marketing or sales professional Other (please specify):
0                   0                               0                       1
1                   0                               0                       0
2                   0                               0                       0
3                   0                               0                       0
4                   0                               0                       0

                                                                          \
  Product manager Scientist Senior Executive (C-Suite, VP, etc.) Student
0               0         0                                    0       0
1               0         0                                    0       0
2               0         0                                    0       0
3               0         0                                    0       0
4               0         0                                    0       0


  System administrator
0                    0
1                    0
2                    0
3                    0
4                    0

[5 rows x 150 columns]

In [15]:
job_freq = encoded_df.DevType.sum().sort_values(ascending=False).reset_index()
job_freq.columns = ['job','freq']
job_freq

                                              job   freq
0                           Developer, full-stack  30360
1                             Developer, back-end  26380
2                            Developer, front-end  16424
3   Developer, desktop or enterprise applications   9481
4                               Developer, mobile   8419
5                               DevOps specialist   6560
6                            System administrator   5307
7                          Database administrator   5056
8                                        Designer   3850
9   Data scientist or machine learning specialist   3778
10                                 Engineer, data   3708
11    Developer, embedded applications or devices   3536
12                            Engineering manager   3406
13                                        Student   3215
14                       Data or business analyst   3159
15                          Developer, QA or test   3152
16                                Product manager   2687
17                        Other (please specify):   2468
18                     Engineer, site reliability   2198
19                            Academic researcher   2153
20                                       Educator   1947
21           Senior Executive (C-Suite, VP, etc.)   1865
22                    Developer, game or graphics   1689
23                                      Scientist   1533
24                Marketing or sales professional    481

In [16]:
# skills_freq = encoded_df.drop('DevType', axis=1).sum().reset_index()
skills_freq = encoded_df._drop_axis('DevType', axis=1,level = 0).sum().reset_index()
skills_freq.columns = ['group', 'skill', 'freq']

In [17]:
skills_freq.sort_values('freq',ascending=False)

                            group               skill       freq
95        ToolsTechHaveWorkedWith                 Git  1069717.5
122  NEWCollabToolsHaveWorkedWith  Visual Studio Code   830016.5
19         LanguageHaveWorkedWith          JavaScript   764392.5
93        ToolsTechHaveWorkedWith              Docker   691857.5
16         LanguageHaveWorkedWith            HTML/CSS   618080.5
..                            ...                 ...        ...
119  NEWCollabToolsHaveWorkedWith            TextMate    12543.5
97        ToolsTechHaveWorkedWith              Pulumi    12528.5
8          LanguageHaveWorkedWith             Crystal    10610.0
6          LanguageHaveWorkedWith               COBOL     6842.0
0          LanguageHaveWorkedWith                 APL     6329.5

[125 rows x 3 columns]

In [7]:
fig = px.treemap(skills_freq,path = ['group','skill'],color = 'freq', values = 'freq',color_continuous_scale='Blues')
fig.update_layout(width = 1500, height = 750)
# fig.show()
fig.write_html('../reports/figures/treemap.treemap.html')

In [18]:
jobs   = encoded_df.DevType.columns.tolist()
skills = encoded_df._drop_axis('DevType', axis=1,level = 0).columns.droplevel(level = 0).tolist()

In [20]:
for jobs in job:

      LanguageHaveWorkedWith                                            \
                         APL Assembly Bash/Shell    C    C#  C++ COBOL
0                        0.0      0.0       19.5  0.0   0.0  0.0   0.0
1                        0.0      0.0        0.0  0.0   0.0  0.0   0.0
2                        0.0      0.0        0.0  0.0   0.0  9.0   0.0
3                        0.0      0.0        0.0  0.0  31.5  0.0   0.0
4                        0.0      0.0       10.0  0.0   0.0  5.0   0.0
...                      ...      ...        ...  ...   ...  ...   ...
56458                    0.0      0.0        0.0  0.0   0.0  0.0   0.0
56459                    0.0      0.0        0.0  0.0   0.0  0.0   0.0
56460                    0.0      0.0        0.0  0.0   0.0  0.0   0.0
56461                    0.0      0.0        9.0  0.0   0.0  0.0   0.0
56462                    0.0      0.0        0.0  0.0   0.0  0.0   0.0

                            ...        DevType                             \
      Clojure Crystal Dart  ... Engineer, data Engineer, site reliability
0         0.0     0.0  0.0  ...              1                          0
1         0.0     0.0  0.0  ...              0                          0
2         0.0     0.0  0.0  ...              0                          0
3         0.0     0.0  0.0  ...              0                          0
4         5.0     0.0  0.0  ...              0                          0
...       ...     ...  ...  ...            ...                        ...
56458     0.0     0.0  0.0  ...              0                          0
56459    16.5     0.0  0.0  ...              0                          0
56460     0.0     0.0  0.0  ...              0                          0
56461     0.0     0.0  0.0  ...              0                          0
56462     0.0     0.0  0.0  ...              0                          0

                                                           \
      Engineering manager Marketing or sales professional
0                       0                               0
1                       0                               0
2                       0                               0
3                       0                               0
4                       0                               0
...                   ...                             ...
56458                   0                               0
56459                   0                               0
56460                   0                               0
56461                   0                               0
56462                   0                               0

                                                         \
      Other (please specify): Product manager Scientist
0                           1               0         0
1                           0               0         0
2                           0               0         0
3                           0               0         0
4                           0               0         0
...                       ...             ...       ...
56458                       0               0         0
56459                       0               0         0
56460                       0               0         0
56461                       0               0         0
56462                       0               0         0


      Senior Executive (C-Suite, VP, etc.) Student System administrator
0                                        0       0                    0
1                                        0       0                    0
2                                        0       0                    0
3                                        0       0                    0
4                                        0       0                    0
...                                    ...     ...                  ...
56458                                    0       0                    0
56459                                    0       0                    0
56460                                    0       0                    0
56461                                    0       0                    0
56462                                    0       0                    0

[56463 rows x 150 columns]