In [1]:
import pandas as pd
import numpy as np
#import sklearn.preprocessing.LabelBinarizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df = pd.read_pickle('../data/processed/02__cleaning.pkl')
df.reset_index(drop = 'index', inplace = True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56463 entries, 0 to 56462
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   YearsCodePro                  52954 non-null  float64
 1   OrgSize                       52786 non-null  object
 2   LanguageHaveWorkedWith        56463 non-null  object
 3   LanguageWantToWorkWith        55211 non-null  object
 4   DatabaseHaveWorkedWith        52494 non-null  object
 5   DatabaseWantToWorkWith        47412 non-null  object
 6   PlatformHaveWorkedWith        41552 non-null  object
 7   PlatformWantToWorkWith        35618 non-null  object
 8   WebframeHaveWorkedWith        47936 non-null  object
 9   WebframeWantToWorkWith        43130 non-null  object
 10  MiscTechHaveWorkedWith        34184 non-null  object
 11  MiscTechWantToWorkWith        29431 non-null  object
 12  ToolsTechHaveWorkedWith       53203 non-null  object
 13  ToolsTechWantToWorkWith       50871 non-null  object
 14  NEWCollabToolsHaveWorkedWith  56258 non-null  object
 15  NEWCollabToolsWantToWorkWith  53703 non-null  object
 16  DevType                       56463 non-null  object
dtypes: float64(1), object(16)
memory usage: 7.3+ MB

In [4]:
X_COL =['YearsCodePro', 'OrgSize', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith' ]
Y_COL = ['DevType']

In [5]:
df_encoded = {}

In [6]:
df2 = df.copy()

In [7]:
labels = ['0' ,'I donâ€™t know', 'Just me - I am a freelancer, sole proprietor, etc.','2 to 9 employees',
         '10 to 19 employees', '20 to 99 employees','100 to 499 employees', '500 to 999 employees', '1,000 to 4,999 employees',
         '5,000 to 9,999 employees', '10,000 or more employees']

orde = OrdinalEncoder(categories= [labels])

df_encoded['OrgSize'] = pd.DataFrame(orde.fit_transform(df2.OrgSize.fillna('0').values[:,np.newaxis]))

In [8]:
for col in X_COL[2:] + Y_COL:
    #create boolean mask matched non NaNs values
    mlb = MultiLabelBinarizer()
    mask = df2['LanguageWantToWorkWith'].notnull()

    #filter by boolean indexing
    arr = mlb.fit_transform(df2.loc[mask, 'LanguageWantToWorkWith'])

    #create DataFrame and add missing (NaN)s index values
    df_encoded[col] = (pd.DataFrame(arr, index=df2.index[mask], columns=mlb.classes_)
               .reindex(df2[col].index, fill_value=0))

In [11]:
df_encoded = pd.concat(df_encoded, axis = 1)

In [13]:
df_encoded = pd.concat([df2.YearsCodePro,df_encoded], axis = 1)

In [14]:
df_encoded.to_pickle('../data/processed/03__encoded.pkl')